[Unit]
Description=Post Clone First Boot OS initialization.
#Before=network-pre.target
#Wants=network-pre.target

[Service]
ExecStart=PATH_DIR/post-clone-first-boot.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
