[Unit]
Description=Post Clone first boot OS initialization.
Before=network-pre.target
Wants=network-pre.target

[Service]
ExecStart=PATH_DIR/post-clone-first-boot.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
